body, h1 , ul{
    margin: 0;
    padding: 0;
    text-align: right;
    display: flexbox;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    font-display: flex;
    display: flexbox;
    text-align: center;
}

header {
    background-color: transparent;
    color: black;
    text-align: right;
    padding: 0px;
}

nav {
    background-color: black;
    text-align: center;
    padding: 30px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    padding: 80px;
    margin: 10px;
    padding: right 100%;

}

nav a {
    text-decoration: double;
    color: #fff;
    text-decoration: underline;
    color: none;
}

main {
    margin: 90px;
    padding-left: none;
    padding: 100px;
}
h2{
    margin: 70px;
    padding: 30px;
    align-items: center;
    flex-direction: inherit;


}

section {
    background-color: #ddd;
    padding: 90px;
    border: 100px flex #ddd;
    border-radius: 40px;
    background-image: none;
}
button{
    border-radius: 50px;
    color: red;
    background: black;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
